# -- force NOT to ignore --
!/plugins/.gitkeep
! */.gitkeep

# -- folders to ignore/exclude --
save/
logs/
raycast/
gh/
htop/
bat/

# -- ignore the following --
plugins/
.zsh_*
.zcompdump
*.log
*.timestamp
*.zip
